/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
ul {
    list-style-type: none;
}

.medium {
    color: red;
    font-weight: bold;
}
